In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('train.csv',skipinitialspace=True)
dftest = pd.read_csv('test.csv',skipinitialspace = True)

In [2]:
import spacy
from spacy.lang.en import English
from spacy.lang.en.stop_words import STOP_WORDS

In [3]:
nlp_eng=English()
stopwords=list(STOP_WORDS)

In [4]:
# 建立SpaCy預處理function #Lemmatization #Remove Stopword & Punct
def tokenizer(sentence):
    mytokens=nlp_eng(sentence)
    mytokens=[word.lemma_.lower().strip() for word in mytokens if word.is_stop==False and word.is_punct==False]
    return mytokens

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import confusion_matrix

In [6]:
# 建立 Vectorization
from sklearn.svm import LinearSVC
vectorizer=CountVectorizer(tokenizer=tokenizer, ngram_range=(1,1), max_features=3800)
classifier=LinearSVC()

In [7]:
x=pd.DataFrame(vectorizer.fit_transform(df['tweet']).toarray())
y=df['class']

In [8]:
xtest=pd.DataFrame(vectorizer.fit_transform(dftest['tweet']).toarray())
#ytest=dftest['class']

In [9]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier(criterion='gini', n_estimators=250, min_samples_split=350, oob_score=True,
                                 random_state=1, n_jobs=-1, )
classifier.fit(x,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=350,
            min_weight_fraction_leaf=0.0, n_estimators=250, n_jobs=-1,
            oob_score=True, random_state=1, verbose=0, warm_start=False)

In [12]:
# 對測試集進行預測
ypred = classifier.predict(xtest)
print(len(ypred))

9914

In [14]:
row = list(dftest['id'])
d = {'id':row,'class':ypred}
test = pd.DataFrame(d)
test

        id  class
0        0      2
1        1      1
2        2      1
3        3      1
4        4      1
5        5      2
6        6      2
7        7      1
8        8      1
9        9      2
10      10      1
11      11      1
12      12      1
13      13      1
14      14      1
15      15      2
16      16      2
17      17      1
18      18      1
19      19      1
20      20      1
21      21      1
22      22      2
23      23      2
24      24      1
25      25      1
26      26      1
27      27      1
28      28      1
29      29      2
...    ...    ...
9884  9884      1
9885  9885      1
9886  9886      2
9887  9887      1
9888  9888      1
9889  9889      1
9890  9890      1
9891  9891      1
9892  9892      1
9893  9893      1
9894  9894      1
9895  9895      1
9896  9896      1
9897  9897      1
9898  9898      2
9899  9899      1
9900  9900      1
9901  9901      1
9902  9902      1
9903  9903      1
9904  9904      1
9905  9905      1
9906  9906      2
9907  9907      1
9908  9908      1
9909  9909      2
9910  9910      2
9911  9911      1
9912  9912      2
9913  9913      1

[9914 rows x 2 columns]

In [15]:
test.to_csv("sampleupload1.csv",columns=['id','class'],index=False,sep=',')